# JavaScript Standard Style Guide: http://standardjs.com
# https://github.com/feross/eslint-config-standard-react
extends:
  - standard
  - standard-react

globals:
  React: true
  ReactDOM: true

rules:
  react/jsx-no-bind: [0]
  react/prop-types: [0]
  semi: [2, "always"]
  react/prop-types: [0]
