[core]
	editor = vim
	excludesfile = /Users/aodell/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	name = Alexander Odell
	email = alextrastero@gmail.com
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	conlictStyle = diff3
	ff = no
[url "https://github.com"]
	insteadOf = git://github.com
[credential]
	helper = osxkeychain
