alias c="clear"
alias edit="vim ~/.config/nvim"
alias ag="ag --path-to-ignore ~/.ignore"
alias dl="yt-dlp -f 'ba' -x --audio-format mp3 -o \"%(title)s.%(ext)s\" --embed-metadata"

# GIT
alias pick="git cherry-pick"
alias glg="tig log -n20 --no-merges"
alias gs="git show"
alias gundo='git reset --soft HEAD~ && git reset HEAD .' # Uncommit last commit and unstage - to see all new stuff in vim-git
alias gll="gfa && gf -p && gl"
alias gamend="git commit --amend --no-edit --no-verify"
alias gc="git commit -v -S"
alias tempo="git add .; git commit -m tempo --no-verify"
alias merge="git add .; git commit -m merge_this --no-verify"
alias gprune="git branch --merged | egrep -v \"(^\*|master|dev)\" | xargs git branch -d"
alias gdc="git diff --staged"
# alias gd="git diff ':!package-lock.json'"
alias gd="git diff"
alias glc="git pull origin $(current_branch)"

# rebasing aliases
alias rec="git rebase --continue"
alias res="git rebase --skip"
alias rei="git rebase -i"
alias rea="git rebase --abort"

# work
alias t="npm run studio:test"
alias s="npm start"
alias cov="npm nx coverage"
alias ports="lsof -i -P -n | grep LISTEN"

count() {
  ag -o --nofilename --nobreak $1 | wc -l
}

# grep for a word and open all instances of word it in (n)vim and scroll to *it
rr() {
  nvim $(ag $1 -l) +/$1
}

# vim
alias vim="nvim"
alias vimg="nvim +Git +only"

# jekyll serve
alias static="bundle exec jekyll serve --livereload"

alias tree="tree -a"
